._hero_rice{
    &_category{
        &_close{
            display: none;
        }
        &_wrap{
            background-color: $bg8;
            padding: 25px;
        }
        &_items{
            max-height: 400px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 10px;
              }
              
              /* Track */
             &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px $primary1; 
                border-radius: 6px;
              }
               
              /* Handle */
              &::-webkit-scrollbar-thumb {
                  border-radius: 6px;
                background: rgb(2,0,36);
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(243,244,242,0.9948354341736695) 0%, rgba(39,146,77,0.9920343137254902) 100%, rgba(0,212,255,1) 100%);
              }
              
              /* Handle on hover */
              &::-webkit-scrollbar-thumb:hover {
                background: rgb(2,0,36);
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(210,230,193,0.9948354341736695) 0%, rgba(39,146,77,0.9920343137254902) 100%, rgba(0,212,255,1) 100%);
             }
        }
        &_title{
            text-transform: uppercase;
            font-family: "Open Sans";
            font-weight: 700;
            font-size: 18px;
            line-height: 1.2;
            color: $secondary1;
            margin-bottom: 10px;
        }
        &_link{
            @include flex-align(center);
            padding: 4px;
            border-bottom: 1px solid $secondary9;
            &:last-child{
                border-bottom: none;
            }
            &:hover{
                color: $secondary1;
            }
        }
        &_icon{
            width: 25px;
        }
        &_txt{
            margin-left: 8px;
            font-family: "Open Sans";
            font-weight: 600;
            font-size: 14px;
            line-height: 1.2;
            margin-bottom: 0;
            transition: all .2s ease;
            color: $primary1;
        }
        &_link:hover &_txt {
            margin-left: 10px;
            color: $secondary1;
        }
    }
}

// Responsive
@include max-medium{
    ._hero_rice_category_wrap {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: 0;
        left: -100%;
        z-index: 999;
        max-width: 280px;
        width: 100%;
        transition: all .3s ease;
    }
    ._hero_rice_category_wrap._active{
        opacity: 1;
        visibility: visible;
        left: 0;
    }
    ._hero_rice_category_main{
        position: relative;
    }
    ._hero_rice_category_close{
        display: block;
        position: absolute;
        top: -4px;
        right: -4px;
        font-size: 24px;
    }
}
@include max-small{
    ._hero_rice_category_items {
        max-height: 318px;
    }
}