 ._features_rice{
     &_item{
         position: relative;
         &_main{
            height: 482px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                inset: 0;
                z-index: 5;
                background: rgb(2,0,36);
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(0,212,255,0.7091211484593838) 36%, rgba(4,93,182,0) 100%);
            }
         }

         &_img{
            width: 100%;
            height: 100%;
            ._img{
                object-fit: cover;
            }
            
         }
         &_content{
             position: absolute;
             top: 50%;
             transform: translateY(-50%);
             left: 100px;
             max-width:500px;
             z-index: 6;
         }
         &_title{
            font-family: "Open Sans";
            font-weight: 700;
            font-size: 48px;
            line-height: 1.2;
            color: $secondary7;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 15px;
         }
         &_desc{
            font-family: "Open Sans";
            font-weight: 500;
            font-size: 16px;
            line-height: 1.6;
            color: $white;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 15px;
         }
     }
 }

._features_rice_wrap .splide__arrow svg {
    fill: $white;
}
._features_rice_wrap .splide__pagination {
    bottom: 1.5em;
}
._features_rice_wrap .splide__arrow {
    background: $primary1;
}

// Responsive
@include max-small{
    ._features_rice_item_content {
        left: 0;
        padding: 0 52px;
    }
    ._features_rice_item_main {
        height: 400px;
    }
}
@include max-extra-small{
    ._hero_rice_category_menu {
        left: 32px;
    }
    ._features_rice_item_title {
        font-size: 34px;
    }
}
